@import "./mixin";
@import "./variable";

.media-section {
  display: flex;
  justify-content: space-between;
  background-color: $yellow-light;
  height: 770px;
  padding: 0 50px 0 210px;
  align-items: center;

  &__container {
    width: 496px;
    height: 370px;

    h2 {
      font-size: 56px;
      line-height: 68px;
      font-weight: 700;
    }

    button {
      @include primary-button;
      margin-top: 50px;
    }
  }

  &__img {
    position: relative;

    .icon {
      position: absolute;
      top: 270px;
      left: 210px;
      width: 60px;
    }
  }
}
