//---------- color--------------
$primary-color: #1d2130;
$secondary-color: #525560;
$yellow: #f2c94c;
$yellow-light: #fcedc6;
$green-light: #eff7f2;
$black: #0b0706;
$off-white: #ebf0f9;
$border: #e5e5e5;
$black: #000000;
$white: #ffffff;

// -------size---------

$xsm: 12px;
$md: 16px;
$lg: 18x;
$xl: 24px;
$xxl: 48px;
$xxxl: 64px;
